<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="header">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../assets/css/Pe-icon-7-stroke.css" th:href="@{/assets/css/Pe-icon-7-stroke.css}")>
    <link rel="stylesheet" href="../assets/fonts/themify/themify-icons.css" th:href="@{/assets/fonts/themify/themify-icons.css}">

    <link rel="stylesheet" href="../assets/css/slick.css" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" href="../assets/css/slick-theme.css" th:href="@{/assets/css/slick-theme.css}">
    <link rel="stylesheet" href="../assets/css/all.css" th:href="@{/assets/css/all.css}">

    <link rel="stylesheet" href="../assets/css/style.css" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" href="../assets/css/responsive.css" th:href="@{/assets/css/responsive.css}">

    <script src="../assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
    <script src="../assets/js/popper.min.js" th:src="@{/assets/js/popper.min.js}"></script>
    <script src="../assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script src="../assets/js/jquery.easing.1.3.js" th:src="@{/assets/js/jquery.easing.1.3.js}"></script>
    <script src="../assets/js/slick.min.js" th:src="@{/assets/js/slick.min.js}"></script>
    <script src="../assets/js/theme.js" th:src="@{/assets/js/slick.min.js}"></script>

    <script type="text/javascript">
        function refresh() {
        var d = new Date();
        document.cookie = "username='';expires=" + d.toGMTString() + ";;";
        window.location.replace('signin');
        return false;
        }
    </script>

    <title>Kalbe Store</title>
</th:block>
</body>
</html>