<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
    var username = $.cookie("username");
    document.getElementById("username").innerHTML = username;
    </script>
</head>
<body>
<th:block th:fragment="navbar">
    <div class="top-bar bg-dark" id="top-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                </div>
                <div class="col-lg-4 ml-lg-auto col-md-6">
                    <div class="top-bar-left text-white">
                        <i class="fa fa-user"></i>
                        <span class="mb-0 text-sm font-weight-bold" th:text=" 'Hi, ' + ${username}"></span>
                        <a href="#" onclick="return refresh();">
                            <i class="fa fa-sign-out"></i>
                            <span class="mb-0 text-sm font-weight-bold"> Sign Out</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark trans-navigation fixed-top navbar-togglable header-white">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <h3>Kalbe Store</h3>
            </a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a th:href="@{/home}" class="nav-link js-scroll-trigger">
                            Home
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a th:href="@{view}" class="nav-link js-scroll-trigger">
                            Product
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>