<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="header">
    <meta charset="utf-8">
    <title>Admin</title>

    <link href="./admin-assets/img/brand/favicon.png"  rel="icon" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <link type="text/css" href="./admin-assets/vendor/nucleo/css/nucleo.css" th:href="@{/admin-assets/vendor/nucleo/css/nucleo.css}" rel="stylesheet">
    <link type="text/css" href="./admin-assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" th:href="@{/admin-assets/vendor/@fortawesome/fontawesome-free/css/all.min.css}" rel="stylesheet">

    <link type="text/css" href="./admin-assets/css/argon.css?v=1.0.0" th:href="@{/admin-assets/css/argon.css?v=1.0.0}" rel="stylesheet">

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

    <script src="./admin-assets/vendor/jquery/dist/jquery.min.js" th:src="@{/admin-assets/vendor/jquery/dist/jquery.min.js}"></script>
    <script src="./admin-assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" th:src="@{/admin-assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script src="./admin-assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" th:src="@{/admin-assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>

    <script src="./admin-assets/js/argon.js?v=1.0.0" th:src="@{/admin-assets/js/argon.js?v=1.0.0}"></script>

    <script type="text/javascript">
        function refresh() {
        var d = new Date();
        document.cookie = "username='';expires=" + d.toGMTString() + ";;";
        window.location.replace('signin');
        return false;
        }
    </script>
</th:block>
</body>
</html>