<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments-admin/layout.html}">

<head>
    <title>Admin</title>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('#custTable').find('tbody tr:first').hide();
    });
    </script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="main-content">
        <div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <h1 class="display-2 text-white">Customer</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Customer List</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="customer-add">
                                        <button class="btn btn-icon btn-3 btn-outline-primary" type="button">
                                            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                                            <span class="btn-inner--text">Add Customer</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="custTable" style="width:100%">
                                <thead class="thead-light">
                                <tr class="text-center">
                                    <th scope="col">Company Name</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Established Date</th>
                                    <th scope="col">Account Balance</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${customers.empty}">
                                    <td colspan="2">No Customer Available</td>
                                </tr>
                                <tr th:each ="customer : ${customers}">
                                    <th><span name="companyName" th:text="${customer.companyName}" /></th>
                                    <td><span name="companyPhone" th:text="${customer.companyPhone}"/></td>
                                    <td><span name="email" th:text="${customer.email}"/></td>
                                    <td><span name="status" th:text="${customer.status}"/></td>
                                    <td><span name="established" th:text="${#dates.format(customer.established, 'dd-MMM-yyyy')}"/></td>
                                    <td><span name="accountBalance"> Rp.[[${#numbers.formatDecimal(customer.accountBalance, 0, 'COMMA', 2, 'POINT')}]]</span></td>
                                    <td class="text-center">
                                        <a th:href="@{|get-cust/${customer.customerId}|}">
                                            <button class="btn btn-icon btn-sm btn-2 btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Detail">
                                                <span class="btn-inner--icon"><i class="fas fa-info-circle"></i></span>
                                            </button>
                                        </a>
                                        <a th:href="@{|update-cust/${customer.customerId}|}">
                                            <button class="btn btn-icon btn-sm btn-2 btn-warning" type="button" data-toggle="tooltip" data-placement="top" title="Update">
                                                <span class="btn-inner--icon"><i class="fas fa-pencil-alt"></i></span>
                                            </button>
                                        </a>
                                        <button class="btn btn-icon btn-sm btn-2 btn-danger" type="button" data-toggle="modal" th:data-target="@{'#deleteCustConfirm'} + ${customer.customerId}">
                                            <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                                        </button>
                                        <div class="modal fade" th:id="'deleteCustConfirm' + ${customer.customerId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete Confirmation</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete Customer with name [[${customer.companyName}]]
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <a th:href="@{|delete-cust/${customer.customerId}|}">
                                                            <button type="button" class="btn btn-primary">Delete</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--</a>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./admin-assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="./admin-assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="./admin-assets/js/argon.js?v=1.0.0"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

</body>
</html>