<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments-admin/layout.html}">


<head>
    <title>Admin</title>
    <script>
    </script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="main-content">
        <div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <h1 class="display-2 text-white">Stock</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-6 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Adding Stock</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/stock-add}" id="custAdd" th:object="${stockRespDto}" method="post">
                                <div class="pl-lg-3">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-name">Stock Name</label>
                                                <input type="text" id="input-name" name="name" class="form-control form-control-alternative" placeholder="Stock Name" >
                                                <div class="alert alert-danger pt-0 pb-0 mt-1 mb-1" th:if="${errorForName != null}">
                                                    <small class="text-white font-weight-light mb-0" th:inline="text">
                                                        <i class="fa fa-bullhorn mr-2"></i> [[${errorForName}]]
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-qty-stock">Quantity</label>
                                                <input type="number" id="input-qty-stock" name="qtyStock" class="form-control form-control-alternative" placeholder="Qty" >
                                                <div th:if="${errorForQtyStock != null}">
                                                    <small class="text-danger font-weight-light" th:inline="text">
                                                        <i class="fa fa-bullhorn"></i> [[${errorForQtyStock}]]
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="select-measurement">Measurement Unit</label>
                                                <select class="form-control form-control-alternative" id="select-measurement" name="measurementUnit" >
                                                    <option th:each="measurement : ${T(com.taskapi.manufacture.model.Stock.MeasurementUnit).values()}"
                                                            th:value="${measurement}"
                                                            th:text="${measurement}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" >Unit Price</label>
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Rp. </span>
                                                    </div>
                                                    <input class="form-control form-control-alternative" name="unitPrice" type="text" >
                                                    <div class="alert alert-danger pt-0 pb-0 mt-1 mb-1" th:if="${errorForUnitPrice != null}">
                                                        <small class="text-white font-weight-light mb-0" th:inline="text">
                                                            <i class="fa fa-bullhorn mr-2"></i> [[${errorForUnitPrice}]]
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label">Status</label>
                                                <select class="form-control form-control-alternative" name = "status">
                                                    <option th:value="'Ready'" th:text="Ready"></option>
                                                    <option th:value="'Not_Ready'" th:text="'Not' + ' ' + 'Ready'"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-storage-loc">Storage Loc</label>
                                                <input type="text" id="input-storage-loc" name="storageLocation" class="form-control form-control-alternative" placeholder="Storage Location" >
                                                <div class="alert alert-danger pt-0 pb-0 mt-1 mb-1" th:if="${errorForStorageLocation != null}">
                                                    <small class="text-white font-weight-light mb-0" th:inline="text">
                                                        <i class="fa fa-bullhorn mr-2"></i> [[${errorForStorageLocation}]]
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label">Description</label>
                                                <textarea rows="4" name="desc" class="form-control form-control-alternative" placeholder="Description .."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <div class="text-right">
                                    <button class="btn btn-icon btn-success" type="submit">
                                        Submit
                                    </button>
                                    <a th:href="@{/index}">
                                        <button class="btn btn-icon btn-2 btn-warning" type="button">
                                            Back
                                        </button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card bg-default shadow">
                        <div class="card-header bg-transparent border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="text-white mb-0">Created Stock History</h3>
                                </div>
                            </div>
                        </div>
                        <div class=" card-body bg-secondary form-horizontal border-0">
                            <div class="col">
                                <div class="row text-right" th:if="${errorStatus != 'Status : FAILED'}">
                                    <span class="control-label badge badge-danger" th:text="${errorStatus}"></span>
                                </div>
                                <div class="row text-right" th:if="${errorStatus == 'Status : Success'}">
                                    <span class="control-label badge badge-success" th:text="${errorStatus}"></span>
                                </div>
                                <div class="row">
                                    <label class="control-label col-sm-4">Stock Name </label>
                                    <span class="col-sm-1" >:</span>
                                    <span class="col-sm-7" th:text="${createdStock.name}" />
                                </div>
                                <div class="row">
                                    <label class="control-label col-sm-4">Qty Stock </label>
                                    <span class="col-sm-1" >:</span>
                                    <span class="col-sm-7" th:text="${createdStock.qtyStock}" />
                                </div>
                                <div class="row">
                                    <label class="control-label col-sm-4">Measurement </label>
                                    <span class="col-sm-1" >:</span>
                                    <span class="col-sm-7" th:text="${createdStock.measurementUnit}" />
                                </div>
                                <div class="row">
                                    <label class="control-label col-sm-4">Unit Price </label>
                                    <span class="col-sm-1" >:</span>
                                    <span class="col-sm-7" th:text="${createdStock.unitPrice}" />
                                </div>
                                <div class="row">
                                    <label class="control-label col-sm-4" >Status </label>
                                    <span class="col-sm-1" >:</span>
                                    <span class="col-sm-7" th:text="${createdStock.status}" />
                                </div>
                                <div class="row">
                                    <label class="control-label col-sm-4" >Storage Loc </label>
                                    <span class="col-sm-1" >:</span>
                                    <span class="col-sm-7" th:text="${createdStock.storageLocation}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./admin-assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="./admin-assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="./admin-assets/js/argon.js?v=1.0.0"></script>
</body>
</html>