<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments-admin/layout.html}">


<head>
    <title>Admin-Purchase</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="main-content">
        <div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <h1 class="display-2 text-white">Purchase</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Purchase List</h3>
                                </div>
                                <!--<div class="col text-right">-->
                                    <!--<a href="customer-add"><i class="ni ni-fat-add"></i> add customer</a>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead class="thead-light">
                                <tr class="text-center">
                                    <th scope="col">Customer</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Qty Purchase</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Created Date</th>
                                    <!--<th scope="col">Action</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${purchases.empty}">
                                    <td colspan="2">No Purchase Available</td>
                                </tr>
                                <tr th:each ="purchase : ${purchases}">
                                    <th><span name="customerId" th:text="${purchase.username}" /></th>
                                    <td><span name="stockId" th:text="${purchase.stockId}"/></td>
                                    <td><span name="email" th:text="${purchase.qtyPurchase}"/></td>
                                    <td><span name="status"/>Rp.[[${#numbers.formatDecimal(purchase.totalPrice, 0, 'COMMA', 2, 'POINT')}]]</td>
                                    <td><span name="established" th:text="${{purchase.createdDate}}"/></td>
                                    <!--<td class="text-center">-->
                                        <!--<button class="btn btn-icon btn-sm btn-2 btn-danger" type="button" data-toggle="modal" th:data-target="@{'#deleteCustConfirm'} + ${customer.customerId}">-->
                                            <!--<span class="btn-inner&#45;&#45;icon"><i class="ni ni-fat-remove"></i></span>-->
                                        <!--</button>-->
                                        <!--<div class="modal fade" th:id="'deleteCustConfirm' + ${customer.customerId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
                                            <!--<div class="modal-dialog modal-dialog-centered">-->
                                                <!--<div class="modal-content">-->
                                                    <!--<div class="modal-header">-->
                                                        <!--<h5 class="modal-title">Delete Confirmation</h5>-->
                                                    <!--</div>-->
                                                    <!--<div class="modal-body">-->
                                                        <!--Are you sure you want to delete Customer with name-->
                                                    <!--</div>-->
                                                    <!--<div class="modal-footer">-->
                                                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                                        <!--<a th:href="@{|delete/${customer.customerId}|}">-->
                                                            <!--<button type="button" class="btn btn-primary">Delete</button>-->
                                                        <!--</a>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--</a>-->
                                    <!--</td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./admin-assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="./admin-assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="./admin-assets/js/argon.js?v=1.0.0"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

</body>
</html>