<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments-client/layout.html}">

<head>
    <meta charset="utf-8">
</head>
<body class="top-header">
<div layout:fragment="content" th:remove="tag">
    <section class="section" id="process">
        <div class="container">
            <div class="row justify-content-left mb-4">
                <div class="col-md-8 col-lg-6 text-left">
                    <h1 class="section-title mb-2 text-success">
                        Purchase Success !!
                    </h1>
                    <p class="mb-5">
                        Please back to Product detail for buy more product
                    </p>
                    <p>
                        <a th:href="@{stock/view}">
                            <button class="btn btn-icon btn-2 btn-warning" type="button">
                                Back to product list
                            </button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-grey" id="feature">
        <div class="container">
            <div class="row justy-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="text-center feature-block">
                        <div class="img-icon-block mb-4">
                            <i class="ti-truck"></i>
                        </div>
                        <h4 class="mb-2">Free Delivery</h4>
                        <p>We've been awarded for our high rate of customer satisfaction.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="text-center feature-block">
                        <div class="img-icon-block mb-4">
                            <i class="ti-shopping-cart"></i>
                        </div>
                        <h4 class="mb-2">Easy Purchases</h4>
                        <p>We only compare market leaders with a reputation for service quality.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="text-center feature-block">
                        <div class="img-icon-block mb-4">
                            <i class="ti-dashboard"></i>
                        </div>
                        <h4 class="mb-2">Premium Services</h4>
                        <p>We only compare market leaders with a reputation for service quality.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a class="scroll-to-top js-scroll-trigger" href=".top-header">
        <i class="fa fa-angle-up"></i>
    </a>

</div>
</body>

</html>