<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments-client/layout.html}">

<head>
    <meta charset="utf-8">
</head>
<body class="top-header">
<div layout:fragment="content" th:remove="tag">
<section class="page-banner-area page-project">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 col-12 text-center">
                <div class="page-banner-content">
                    <h1 class="display-4 font-weight-bold">Kalbe Store</h1>
                    <p>We'd love to talk about how we can help you.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="process">
    <div class="container">
        <div class="row justify-content-left mb-4">
            <div class="col-md-8 col-lg-6 text-left">
                <h2 class="section-title mb-2">
                    Medicine List
                </h2>
                <p class="mb-5">
                    For drug / medicine supplies that are not available on the list, please ask and contact our services.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-left">
                <div th:each="stock : ${stocks}" class="col-sm-4">
                    <a href="stockDetail.html" th:href="@{|view/${stock.stockId}|}">
                        <div class="col-lg-12 col-sm-6 col-md-6">
                            <div class="process-block">
                                <img src="../assets/img/process/process-1.jpg" alt="" class="img-fluid">
                                <h4 th:text="${stock.name}"></h4>
                                <h3 class="text-warning">Rp. [[${#numbers.formatDecimal(stock.unitPrice, 0, 'COMMA', 2, 'POINT')}]]</h3>
                                <p style="margin-bottom: 30px;">Nihil facere delectus eaque aut possimus nobis laudantium reprehenderit.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bg-grey" id="feature">
    <div class="container">
        <div class="row justy-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="text-center feature-block">
                    <div class="img-icon-block mb-4">
                        <i class="ti-truck"></i>
                    </div>
                    <h4 class="mb-2">Free Delivery</h4>
                    <p>We've been awarded for our high rate of customer satisfaction.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="text-center feature-block">
                    <div class="img-icon-block mb-4">
                        <i class="ti-shopping-cart"></i>
                    </div>
                    <h4 class="mb-2">Easy Purchases</h4>
                    <p>We only compare market leaders with a reputation for service quality.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="text-center feature-block">
                    <div class="img-icon-block mb-4">
                        <i class="ti-dashboard"></i>
                    </div>
                    <h4 class="mb-2">Premium Services</h4>
                    <p>We only compare market leaders with a reputation for service quality.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<a class="scroll-to-top js-scroll-trigger" href=".top-header">
    <i class="fa fa-angle-up"></i>
</a>

</div>
</body>

</html>