<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments-admin/layout.html}">

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('#tblFirst').find('tbody tr:first').hide();
    });

</script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="main-content">
        <div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    <h1 class="display-2 text-white">Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Stock List</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="stock-add">
                                    <button class="btn btn-icon btn-3 btn-outline-primary" type="button">
                                        <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                                        <span class="btn-inner--text">Add Stock</span>
                                    </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead class="thead-light">
                                <tr class="text-center">
                                    <th scope="col">Stock Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Measurement Unit</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Storage Location</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${stocks.empty}">
                                    <td colspan="2">No Stock Available</td>
                                </tr>
                                <tr th:each ="stock : ${stocks}">
                                    <th><span name="name" th:text="${stock.name}" /></th>
                                    <td><span name="qtyStock" th:text="${stock.qtyStock}"/></td>
                                    <td><span name="measurementUnit" th:text="${stock.measurementUnit}"/></td>
                                    <td><span name="status" th:text="${stock.status}"/></td>
                                    <td><span name="unitPrice"> Rp.[[${#numbers.formatDecimal(stock.unitPrice, 0, 'COMMA', 2, 'POINT')}]]</span></td>
                                    <td><span name="storageLocation" th:text="${stock.storageLocation}"/></td>
                                    <td class="text-center">
                                        <a th:href="@{|get/${stock.stockId}|}">
                                            <button class="btn btn-icon btn-sm btn-2 btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Detail">
                                                <span class="btn-inner--icon"><i class="fas fa-info-circle"></i></span>
                                            </button>
                                        </a>
                                        <a th:href="@{|update/${stock.stockId}|}">
                                            <button class="btn btn-icon btn-sm btn-2 btn-warning" type="button" data-toggle="tooltip" data-placement="top" title="Update">
                                                <span class="btn-inner--icon"><i class="fas fa-pencil-alt"></i></span>
                                            </button>
                                        </a>
                                        <button class="btn btn-icon btn-sm btn-2 btn-danger" type="button" data-toggle="modal" th:data-target="@{'#deleteStockConfirm'} + ${stock.stockId}">
                                            <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                                        </button>
                                        <div class="modal fade" th:id="'deleteStockConfirm' + ${stock.stockId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete Confirmation</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete stock with name [[${stock.name}]]
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <a th:href="@{|delete/${stock.stockId}|}">
                                                            <button type="button" class="btn btn-primary">Delete</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./admin-assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="./admin-assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="./admin-assets/js/argon.js?v=1.0.0"></script>

</body>
</html>