<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/fonts/themify/themify-icons.css">

    <link rel="stylesheet" href="./assets/css/slick.css">
    <link rel="stylesheet" href="./assets/css/slick-theme.css">
    <link rel="stylesheet" href="./assets/css/all.css">

    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/responsive.css">
    <script>
     function refresh() {
        var d = new Date();
        document.cookie = "username='';expires=" + d.toGMTString() + ";;";
        window.location.replace('signin');
        return false;
        }
            var username = $.cookie("username");
    document.getElementById("username").innerHTML = username;
    </script>

    <title>Kalbe Store - Homepage</title>
</head>
<body class="top-header">
<div id="page-loader">
    <div class="loader-icon fa fa-spin colored-border"></div>
</div>
<div class="top-bar bg-dark " id="top-bar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
            </div>
            <div class="col-lg-4 ml-lg-auto col-md-6">
            </div>
        </div>
        <div class="top-bar-left text-white">
            <i class="fa fa-user"></i>
            <!--                    <span class="mb-0 text-sm font-weight-bold" th:text=" 'Hi, ' + ${username}"></span>-->
            <span class="mb-0 text-sm font-weight-bold">[[${#httpServletRequest.remoteUser}]]</span>
            <a href="#" onclick="return refresh();">
                <i class="fa fa-sign-out"></i>
                <span class="mb-0 text-sm font-weight-bold"> Sign Out</span>
            </a>
        </div>
    </div>
</div>
<div class="logo-bar d-none d-md-block d-lg-block bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo d-none d-lg-block">
                    <img th:src="@{/images/kalbe_store.png}" class="navbar-brand-img" alt="...">
                </div>
            </div>
            <div class="col-lg-8 justify-content-end ml-lg-auto d-flex col-12">
                <div class="top-info-block d-inline-flex">
                    <div class="icon-block">
                        <i class="ti-mobile"></i>
                    </div>
                    <div class="info-block">
                        <h5 class="font-weight-500">(021)-123456</h5>
                        <p>Call Free</p>
                    </div>
                </div>
                <div class="top-info-block d-inline-flex">
                    <div class="icon-block">
                        <i class="ti-email"></i>
                    </div>
                    <div class="info-block">
                        <h5 class="font-weight-500">kalbestore@example.com</h5>
                        <p>Email Us</p>
                    </div>
                </div>
                <div class="top-info-block d-inline-flex">
                    <div class="icon-block">
                        <i class="ti-time"></i>
                    </div>
                    <div class="info-block">
                        <h5 class="font-weight-500">Mon-Sat 9:00-20.00 </h5>
                        <p>Sunday Closed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-navigation" id="mainmenu-area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav navbar-togglable">

            <a class="navbar-brand d-lg-none d-block" href="">
                <h4>Rapoo</h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ">
                    <li class="nav-item ">
                        <a href="about.html" class="nav-link js-scroll-trigger">
                            Home
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a th:href="@{stock/view}" class="nav-link js-scroll-trigger">
                            Product
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="service.html" class="nav-link js-scroll-trigger">
                            History
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<section class="banner-area py-7">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-12 col-lg-7 text-center text-lg-left">
                <div class="main-banner">
                    <h1 class="display-4 mb-4 font-weight-normal">
                        Trusted Healthcare Manufacture
                    </h1>
                    <p class="lead mb-4">
                        PT Kalbe Farma Tbk is an international company that produces pharmaceuticals, supplements, nutrition and health services based in Jakarta, Indonesia.
                        This company produces various kinds of pharmaceutical ingredients. Kalbe Farma has the motto of Innovation for a Better Life.
                    </p>
                    <p class="mb-0">
                        <a th:href="@{stock/view}" class="btn btn-primary btn-circled" data-toggle="tooltip" data-placement="top" title="Update">
                            Purchase now
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
                <div class="banner-img-block">
                    <img th:src="@{/images/homepage.png}" alt="banner-img" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="section " id="footer">
    <div class="overlay footer-overlay"></div>
    <div class="container">
        <div class="row text-right">
            <div class="col-lg-12">
                <p class="footer-copy">
                    2019 DA - Infocus
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/popper.min.js"></script>

<script src="./assets/js/bootstrap.min.js"></script>

<script src="./assets/js/jquery.easing.1.3.js"></script>
<script src="./assets/js/slick.min.js"></script>

<script src="./assets/js/theme.js"></script>

</body>

</html>