<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Pe-icon-7-stroke.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/themify/themify-icons.css}">

    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/assets/css/all.css}">

    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">

    <title>Sign In - Kalbe Store</title>
</head>

<body class="top-header">
<section class="section bg-primary" id="services-2">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <h2 class="section-title text-white">
                        Please Login with your account
                    </h2>
                    <p class="text-white">
                        Enter username and password to Log on
                    </p>
                </div>
            </div>
        </div>
        <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <div class="card rounded border-0">
                        <div class="card-header pb-3">
                            <div class="text-muted text-center mt-2 mb-3">
                                <img th:src="@{/images/logo-desktop.png}" align="middle" alt="...">
                            </div>
                            <div class="btn-wrapper text-center">
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>Sign in with credentials</small>
                            </div>
                            <div th:if="${param.error}">
                                Invalid username and password.
                            </div>
                            <div th:if="${param.logout}">
                                You have been logged out.
                            </div>
                            <form th:action="@{/signin}" th:object="${userRespDto}" method="post">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Username" type="text" name="username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Password" type="password" name="password">
                                    </div>
                                </div>
                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                    <label class="custom-control-label" for=" customCheckLogin">
                                        <span class="text-muted">Remember me</span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary my-4 btn-circled">Sign in</button>
                                </div>
                                <input type="hidden"
                                       name="${_csrf.parameterName}" value="${_csrf.token}" />
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6"></div>
                        <div class="col-6 text-right">
                            <a th:href="@{signup}" class="text-light"><small>Create new account</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>

<script th:src="@{/assets/js/bootstrap.min.js}"></script>

<script th:src="@{/assets/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/assets/js/slick.min.js}"></script>

<script th:src="@{/assets/js/theme.js}"></script>

</body>
</html>