<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/Pe-icon-7-stroke.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/fonts/themify/themify-icons.css}">

    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/slick-theme.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/all.css}">

    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/style.css}"x>
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/responsive.css}">

    <title>Sign Up - Kalbe Store</title>
</head>


<body class="top-header">

<section class="section bg-primary" id="services-2">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <h2 class="section-title text-white">
                        Sign Up Now
                    </h2>
                    <p class="text-white">
                    Fill in the form below to get instant access
                    </p>
                </div>
            </div>
        </div>
        <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <div class="card rounded border-0">
                        <div class="card-header pb-5">
                            <div class="text-muted text-center mt-2 mb-3">
                                <img th:src="@{/images/logo-desktop.png}" align="middle" alt="...">
                            </div>
                            <div class="btn-wrapper text-center">
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <form th:action="@{/signup}" th:object="${signupDto}" method="post">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input class="form-control" name="username" placeholder="Username" type="text">
                                        <div class="alert alert-danger pt-0 pb-0 mt-1 mb-1" th:if="${errorForUsername != null}">
                                            <small class="text-white font-weight-light mb-0" th:inline="text">
                                                <i class="fa fa-bullhorn mr-2"></i> [[${errorForUsername}]]
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input class="form-control" name="email" placeholder="Email" type="email">
                                        <div class="alert alert-danger pt-0 pb-0 mt-1 mb-1" th:if="${errorForEmail != null}">
                                            <small class="text-white font-weight-light mb-0" th:inline="text">
                                                <i class="fa fa-bullhorn mr-2"></i> [[${errorForUseEmail}]]
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input class="form-control" name="password" placeholder="Password" type="password">
                                        <div class="alert alert-danger pt-0 pb-0 mt-1 mb-1" th:if="${errorForPassword != null}">
                                            <small class="text-white font-weight-light mb-0" th:inline="text">
                                                <i class="fa fa-bullhorn mr-2"></i> [[${errorForPassword}]]
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input class="form-control" placeholder="Re-type Password" type="password">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary my-4 btn-circled">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-5"></div>
                        <div class="col-7 text-right">
                            <span class="text-light"><small>already have an account?</small><strong><a th:href="@{signin}"> SIGN IN</a></strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/popper.min.js"></script>

<script src="./assets/js/bootstrap.min.js"></script>

<script src="./assets/js/jquery.easing.1.3.js"></script>
<script src="./assets/js/slick.min.js"></script>

<script src="./assets/js/theme.js"></script>

</body>
</html>